@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
body {
    font-family: "Poppins", sans-serif;
    background-color: #202142;
    color: rgb(209, 20, 178);
    line-height: 1.6;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* ********* NAVBAR ********* */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgb(209, 20, 178);
}
.left,
.right {
    flex-grow: 1;
    flex-basis: 0;
}

.logo {
    height: 4rem;
    width: 4rem;
    margin-right: 1rem;
}

.nav-bar h1 {
    font-size: 30px;
    position: sticky;
}

.link-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.nav-link {
    margin: 1rem;
    color: #ffb49a;
}

.home-link {
    color: #ffb49a;
    top: 2.55rem;
    position: absolute;
}
/* ********* Main Page ********* */
.main-page {
    display: flex;
    /* justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    align-items: center; */
}

.left,
.right {
    flex: 1;
}

/* ********* TIMER ********* */
.timer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-container {
    border: 2px solid rgb(209, 20, 178);
    width: 70rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
}

.time-window {
    font-size: 50px;
}

.minutes {
    font-weight: bold;
    font-size: 120px;
}

.timer-button-wrapper {
    margin: 1rem;
}

.timer-button-wrapper button {
    font-weight: bold;
    font-size: 16px;
    margin-right: 1rem;
    width: 8rem;
    border-radius: 5px;
}

.timer-button-wrapper button:hover {
    color: #fff;
    background-color: #55828b;
    border-color: #333;
}

.timer-button-wrapper button:focus,
.timer-button-wrapper button:hover {
    color: #333;
    text-decoration: none;
}

.timer-button-wrapper button:active {
    background-color: #55828b;
    box-shadow: 0 3px #666;
    transform: translateY(3px);
}

/* ********* SETTINGS COMPONENT ********* */
.settings-wrapper {
    /* border: 2px solid rgb(209, 20, 178); */
    width: 26rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: left;
    /* border-radius: 15px; */
    margin-top: 15rem;
    /* max-height: 400px; */
    font-size: 18px;
}

.settings-wrapper h1 {
    margin: auto;
    text-decoration: underline;
}

.settings-wrapper button {
    font-weight: bold;
    font-size: 16px;
    margin-right: 1rem;
    width: 6rem;
    border-radius: 5px;
    /* margin-top: 0.5rem; */
    margin-bottom: 0.5rem;
}

.settings-wrapper button:hover {
    color: #fff;
    background-color: #55828b;
    border-color: #333;
}

.settings-wrapper button:focus,
.settings-wrapper button:hover {
    color: #333;
    text-decoration: none;
}

.settings-wrapper button:active {
    background-color: #55828b;
    box-shadow: 0 3px #666;
    transform: translateY(3px);
}

/* ********* SELECT ACTIVITY DIV ********* */
.select-activity-container {
    width: 26rem;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-align: left;
    margin-top: 0rem;
}

.select-activity-container h2 {
    font-size: 20px;
    margin-bottom: 0;
}

.select-activity-container button {
    font-weight: bold;
    font-size: 16px;
    margin-right: 1rem;
    width: 8rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    /* margin-bottom: 0.5rem; */
}

.select-activity-container button:hover {
    color: #fff;
    background-color: #55828b;
    border-color: #333;
}

.select-activity-container button:focus,
.select-activity-container button:hover {
    color: #333;
    text-decoration: none;
}

.select-activity-container button:active {
    background-color: #55828b;
    box-shadow: 0 3px #666;
    transform: translateY(3px);
}

/* ********* MODAL COMPONENT ********* */

.modal {
    transition: opacity 0.4s ease-in-out;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .modal-content {
    background-color: white;
    text-align: center;
    border-radius: 15px;
    width: 400px;
    padding: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.modal button {
    font-weight: bold;
    font-size: 16px;
    margin-right: 1rem;
    width: 10rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    /* margin-bottom: 0.5rem; */
}

.modal button:hover {
    color: #fff;
    background-color: #55828b;
    border-color: #333;
}

.modal button:focus,
.modal button:hover {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.modal button:active {
    background-color: #55828b;
    box-shadow: 0 3px #666;
    transform: translateY(3px);
}

/* ********* STATS COMPONENT ********* */
.stats-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.stats-date-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
}

.stats-date-form input {
    margin-right: 0.75rem;
    margin-left: 0.5rem;
}

.stats-date-form button {
    font-weight: bold;
    font-size: 16px;
    margin-right: 1rem;
    width: 6rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    /* margin-bottom: 0.5rem; */
}

.stats-date-form button:hover {
    color: #fff;
    background-color: #55828b;
    border-color: #333;
}

.stats-date-form button:focus,
.stats-date-form button:hover {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.stats-date-form button:active {
    background-color: #55828b;
    box-shadow: 0 3px #666;
    transform: translateY(3px);
}
